.wrap {
    width: 1200px;
    min-height: 800px;
    margin: 20px auto;
}

.board {
    margin-top: 20px;
    background-color: bisque;
    border: 3px double blue;
    position: relative;
}

.packman {
    border: 1xp solid #000;
    border-radius: 999px;
    //background-color: blueviolet;
    background-image: url(../images/dog.png);
    position: absolute;
}

